Celery==5.3.4
matplotlib==3.8.1
sympy==1.12
nose==1.3.7
numpy==1.26.1
scipy==1.11.3
eyed3==0.9.7
pandas==2.1.2
redis==5.0.1
firebase-admin==6.2.0
opencv-python-headless==4.8.1.78
PyWavelets==1.4.1
pydub==0.25.1
django-rest-swagger==2.2.0
kombu==5.3.3
billiard==3.6.4.0
