name: Security Check
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      CI_BUILD: 1
      DJANGO_SETTINGS_MODULE: audio_watermark_web_services.settings
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'
    - name: Install Specific Ubuntu Packages
      run: sudo apt-get update && sudo apt-get install -y wget gcc python3-dev musl-dev postgresql-client ffmpeg libsndfile-dev libpng-dev
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install safety
        python -m pip install -r requirements.txt
    - name: Run Security Test
      run: safety check
